main {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--antique-white);
}
.dow-text h1 {
  padding-bottom: 0.5rem;
}
.dead-text {
  background: -webkit-linear-gradient(
    hsla(111, 97%, 49%, 0.75) 5%,
    hsla(25, 97%, 49%, 0.75) 20%,
    hsla(0, 98%, 49%, 0.933) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dow-text-border {
  background: var(--sky-blue-green-gradient);
  height: 1.5px;
  width: 100%;
  margin: 1rem 0;
}

.dow-text .dow-text-or::before,
.dow-text-or::after {
  background: var(--sky-blue-green-gradient);
  /* background: var(--light-green); */
  content: "";
  display: inline-block;
  height: 1.5px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
.dow-text .dow-text-or::before {
  right: -2.5%;
  margin-right: -50%;
}
.dow-text .dow-text-or::after {
  left: -2.5%;
  margin-left: -50%;
}
.main-menu-links {
  display: grid;
  margin-block: 1rem;
}
.menu-button {
  margin-bottom: 1rem;
}
.claim-dow-button {
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.claim-dow-button:hover {
  background: var(--blue-black-gradient);
  color: var(--antique-white);
}
.start-game:disabled {
  color: var(--antique-white);
  -webkit-tap-highlight-color: transparent;
}
.start-game:hover:disabled {
  color: #ccc;
}
