main {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--antique-white);
}
.dow-text h1 {
  padding-bottom: 0.5rem;
}
.dead-text {
  background: linear-gradient(hsla(40, 95%, 10%, 0.85), hsla(0, 95%, 49%, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dow-text-border {
  background: var(--sky-blue-black-gradient);
  height: 2.5px;
  width: 100%;
  margin: 1rem 0;
}

.dow-text .dow-text-or::before,
.dow-text-or::after {
  background: var(--light-green);
  content: "";
  display: inline-block;
  height: 2.5px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
.dow-text .dow-text-or::before {
  right: -2.5%;
  margin-right: -50%;
}
.dow-text .dow-text-or::after {
  left: -2.5%;
  margin-left: -50%;
}

.menu-button {
  margin-bottom: 1rem;
}
