nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}
.btn-explore {
  color: var(--antique-white);
  background: var(--deep-green-red-gradient);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
}
.btn-explore:hover {
  background: var(--deep-light-green);
  color: var(--antique-white);
}
