.attempts {
  height: 20rem;
  width: 100%;
  background: var(--deep-green);
  color: var(--antique-white);
  border-radius: 0.5rem;
  display: block;
}
.attempts h2 {
  width: 100%;
  margin-inline: auto;
  margin-block: 1rem;
}
.attempts ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  line-height: 1.6;
}
