.dashboard {
  height: 20rem;
  width: 100%;
  background: var(--deep-green);
  color: var(--antique-white);
  border-radius: 0.5rem;
  display: block;
  color: var(--light-green);
}
.dashboard h2 {
  width: 100%;
  margin-inline: auto;
  margin-block: 1rem;
}
.statistics-and-balance {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  line-height: 1.6;
  flex-grow: 2 1;
  gap: 2rem;
}
.statistics {
  width: 100%;
  /* border: 2px solid red; */
}
.balance {
  flex-shrink: 1;
  width: 80%;
  /* border: 2px solid red; */
  text-align: right;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
