.dashboard {
  height: 23rem;
  width: 100%;
  background: var(--deeper-green);
  color: var(--antique-white);
  border-radius: 1rem;
  display: block;
  /* color: var(--light-green); */
  border: 2px solid rgba(3, 48, 39, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
@supports (backdrop-filter: blur(10px)) {
  .dashboard {
    background: var(--deeper-green);
    backdrop-filter: blur(10px);
  }
}
.dashboard h2 {
  width: 100%;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}
.statistics {
  width: 100%;
  height: 19rem;
  display: grid;
  align-content: space-evenly;
  text-align: left;
  line-height: 1.6;
  gap: 2rem;
  /* border: 2px solid red; */
}
.win-rate-and-game-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: stretch;
  justify-content: space-between;
  gap: 2rem;

  /* border: 2px solid white; */
}
.win-rate {
  width: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  /* border: 2px solid yellow; */
  text-align: center;
  color: var(--antique-white);
  /* background-color: #222; */
}
.progressBar {
  height: 100%;
  /* width: 100%; */
  /* border: 2px solid red; */
  text-align: center;
  white-space: pre-line;
}

.played-won-lost {
  width: 100%;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  background: var(--dark-blue-black-gradient);
}
.game-stats {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.5rem;
  margin-block: 0.25rem;
  opacity: 0.85;
  /* border: 2px solid blue; */
}
.played,
.won,
.lost {
  width: 100%;
  /* padding: 100%; */
  /* background: rgba(255, 255, 255, 0.25); */
}
.streak-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  opacity: 0.85;
  /* background: rgba(255, 255, 255, 0.25); */
  /* border: 2px solid blue; */
}
.max-streak,
.current-streak {
  /* color: var(--antique-white); */

  background: var(--dark-blue-black-gradient);

  /* background: var(--deeper-green); */
  /* background: rgba(0, 0, 0, 0.2); */
}
/* .white-text {
  color: var(--antique-white);
} */
