.dashboard {
  height: 20rem;
  width: 100%;
  background: var(--deep-green);
  color: var(--antique-white);
  border-radius: 0.5rem;
  display: block;
}
.dashboard h2 {
  width: 100%;
  margin-inline: auto;
  margin-block: 1rem;
}
.statistics-and-balance {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  line-height: 1.6;
  flex-basis: 70% 30%;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
