input:invalid {
  border: 3px solid red;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-inline: 2.5rem;
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 7.5rem;
}
.input input {
  background: var(--deep-green);
  aspect-ratio: 1;
  width: 4rem;
  margin: 2.5rem 0.5rem;
  color: var(--light-green);
  text-align: center;
  font-family: var(--font-rubik-wet-paint);
  font-size: 2.5rem;
  outline: 1px outset var(--dark-navy-blue);
}
input:focus {
  background: var(--deeper-green);
  outline: 2px inset var(--light-green);
  border: 1px solid var(--dark-navy-blue);
  border-radius: 0.5rem;
  transform: scale(1.075);
}
.number-btns {
  margin-bottom: 2.5rem;
}
.number-btn {
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
  aspect-ratio: 1;
  width: 3rem;
  border-radius: 0.5rem;
  margin-inline: 0.5rem;
}
.number-btn:hover {
  background: var(--blue-black-gradient);
  color: var(--antique-white);
}
.clear-play-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.game-btn {
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
  border-radius: 0.5rem;
  width: 7rem;
  padding: 0.75rem 1.5rem;
}
.game-btn:hover {
  background: var(--blue-black-gradient);
  color: var(--antique-white);
}
.clear {
  background: var(--btn-deep-green-red-gradient);
  opacity: 0.8;
}
.clear:hover {
  opacity: 1;
  background: var(--btn-deep-green-red-gradient);
}
.attempts-and-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  width: 100%;
  margin-block: 2.5rem;
}
