input:invalid {
  border: 3px solid red;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-inline: 2.5rem;
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 7.5rem;
}
.input input {
  background: var(--deep-green);
  aspect-ratio: 1;
  width: 4rem;
  margin: 2.5rem 0.5rem;
  color: var(--antique-white);
  text-align: center;
  font-family: var(--font-rubik-wet-paint);
  font-size: 1.2rem;
}
.number-btns {
  margin-bottom: 2.5rem;
}
.input-btn {
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
  aspect-ratio: 1;
  width: 3rem;
  border-radius: 0.5rem;
  margin-inline: 0.5rem;
}
.input-btn:hover {
  background: var(--blue-black-gradient);
  color: var(--antique-white);
}
.clear-play-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.game-btn {
  background: var(--sky-blue-black-gradient);
  color: var(--antique-white);
  border-radius: 0.5rem;
  width: 7rem;
  padding: 0.75rem 1.5rem;
}
.game-btn:hover {
  background: var(--blue-black-gradient);
  color: var(--antique-white);
}
.clear {
  background: var(--btn-deep-green-red-gradient);
}
.attempts-and-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  width: 100%;
  margin-block: 2.5rem;
}
